* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	padding: 12px;
}
main {
	background: #9f9;
}
h1 {
	text-align: center;
}
.container {
	padding: 12px;
}
body::-webkit-scrollbar {
	width: 6px;
	/*height: 6px;*/
}
body::-webkit-scrollbar-thumb {
    background-color: #555b;
}
.div1 {
	display: flex;
	/*align-items: center;*/
}
.container1 {
	display: grid;
	grid-template-columns: 70px 70px;
	max-width: 300px;
}
.container1 input {
	padding: 10px;
}
.envio1 {
	padding: 15px;
}
.envio1 button {
	width: 35px;
	height: 38px;
	font-size: 35px;
}
.input1-down {
	grid-column: 1 / 3;
}
.div3 {
	display: inline-block;
	margin: 0 10px;
	font-family: monospace;
}
.form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 10px;
}
.input {
	padding: 2px;
	white-space: pre-wrap;
}
.form__div {
	min-width: 160px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 6px;
	padding: 6px;
	border: 1px solid #8be;
}
.desarrollo__div {
	border: 1px solid #000;
	padding: 20px;
}
.button {
	border-radius: 5px;
	width: 30px;
	height: 30px;
	margin: auto;
}
/*Proyecto 8*/
.form8 {
	display: grid;
	grid-template-columns: 1fr;
}
.from8_display {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.form8 label {
	margin: 10px;
	text-align: center;
}
.from8_button {
	border-radius: 5px;
	width: 40px;
	height: 20px
}
.form8__div {
	display: flex;
	justify-content: space-around;
}
#inTemperatur, #inFood, .form8__div {
	width: 70%;
}
/*Proyecto 9*/
.input9 {
	outline: none;
	margin:  10px;
	padding: 5px;
	border-radius: 10px;
}
h2 {
	text-align: center;
}
.reloj {
	background: linear-gradient(#111,#666);
	border: 1px solid #000;
	display: inline-flex;
	border-radius: 8px;
}
.reloj div {
	color: #fff;
	padding: 5px 7px;
	font-size: 30px;
	font-family: monospace;
	border: 1px solid #000;
	border-radius: 8px;
}
.button11 {
	border-radius: 8px;
	padding: 5px 7px;
}
.modal-overlay {
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	/*position: absolute;*/
	/*opacity: 0;*/
	/*animation: aparecer 1s forwards;*/
}
.modal {
	background:  #fff;
	margin: 30px;
	padding: 20px;
}
.modal button {
	padding: 9px 20px;
	border: none;
	margin: 3px 9px;
	background: #ddd;
}
.modal button:hover {
	background: #ccc;
}
.remove {
	display: none;
}
@keyframes aparecer {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes desaparecer {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
.textures {
	margin: 10px;
	border: 1px solid #000;
	border-radius: 5px;
	user-select: none;
}
.textures div {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 6px;
	user-select: all;
	cursor: pointer;
}
.textures div:active {
	opacity: .5;
}
.texture0 {background: url("../img/textura0.png");}
.texture1 {background: url("../img/textura1.png");}
.texture2 {background: url("../img/textura2.png");}
.texture3 {background: url("../img/textura3.png");}
.zone {
	margin: 10px;
	background: #ddd;
	height: 200px;
}
.container14, .loading-bar14 {
	padding: 60px 20px;
	border: 4px dashed #222;
	max-width: 500px;
	color: #888;
	margin: auto;
	margin-top: 30px;
	text-align: center;
	font-size:  20px;
	position: relative;
	z-index: 10;
	/*cursor: context-menu;*/
}
.loading-bar14 {
	position: absolute;
	width: 0;
	left: 0;
	right: 0;
	margin-top: 0;
	padding: 0;
	z-index: 0;
	border: none;
	background: #9cf;
	transition: width 0.2s, background 0.1s;
}
.result14 {
	text-align: center;
	padding: 20px;
}
.img14 {
	margin: auto;
}
.names {
	max-width: 800px;
	margin: auto;
	margin-top: 40px;
}
.name {
	display: grid;
	grid-template-columns: minmax(100px, 300px) 1fr;
	border-top: 1px solid #48e;
}
.options {
	display: flex;
	justify-self: end;
}
.add-names {
	margin-top: 40px;
	text-align: center;
}
#name, #add {
	padding: 4px 8px;
}
.options button {
	background: transparent;
	border: none;
	margin: 4px 10px;
	outline: none;
}
.delete:hover {
	color: #999;
}
.impossible {
	color: #ccc;
}
.possibly {
	color: #37d;
}
.possibly:hover {
	color: #6af;
}
.name h2 {
	padding: 6px;
	color: #48e;
	outline-color: #48e;
}
.noMore {
	padding: 30px;
}
.publicacion {
	text-align: left;
	margin: 20px;
	color: #555;
	animation: aparecer 1s forwards .5s;
	opacity: 0;
}
.publicacion p {
	padding: 10px 20px;
	border-left: 2px solid #48e;
}
.publicacion h3 {
	color: #48e;
	border-bottom: 2px solid #48e;
	display: inline-block;
	padding: 0;
	margin-bottom: 0;
}
.comentarios {
	display: flex;
}
.comentarios input {
	padding: 8px 12px;
	border: none;
	background: #59e;
	color: #fff;
	outline: none;
}
.comentarios input[type="text"] {
	flex-grow: 1;
}
.comentarios input[type="submit"] {
	min-width: 60px;
	font-weight: 700;
	font-family: monospace;
}
.comentarios input[type="text"]::placeholder {
	color: #bcf;
	text-shadow: none;
}
